@import 'lib/grid.css';
@import 'lib/normalize.css';
@import "lib/splitting.css";
@import "components/header.css";
@import "components/heading.css";
@import "components/picture.css";
@import "components/heading-sub.css";
@import "components/form.css";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: none;
  overflow: auto;
  width: 100%;
}

body {
  color: #0A192F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100%;
  width: 100%;
  background: none;
  background: #fff;
}

main {
  margin-top: auto;
  min-width: 100%;
  z-index: 1;
}

@media screen and (max-width: 770px) {
  main {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  html {
    overflow: auto;
  }

  body {
    overflow: auto;
  }
}


/* ANIMATION TIMELINE */

.header {
  transition: opacity .6s ease, transform .6s ease;
}


.picture {
  transition: opacity .6s ease, transform .6s ease;
}

.heading .word {
  transition: opacity .5s ease, transform .5s ease;
  transition-delay: calc(.4s + (100ms * var(--word-index)));
}

.heading-sub {
  transition: opacity .6s ease, transform .6s ease;
  transition-delay: .8s;
}

.form {
  transition: opacity .6s ease, transform .6s ease;
  transition-delay: 1.1s;
}

/* ANIMATIONS */

.heading_active .word {
  opacity: 0;
  transform: translateY(20px);
}

.header_active {
  opacity: 0;
  transform: translateY(-40px);
}

.heading_active {
  opacity: 0;
}
.heading-sub_active {
  opacity: 0;
  transform: translateY(40px);
}

.form_active {
  opacity: 0;
  transform: translateY(40px);
}

.logo_active {
  opacity: 0;
  transform: translateX(-50%) translateY(20px);
}

.picture_active {
  transform: scale(.9);
  opacity: 0;
}

.form__submit_text {
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.form__submit_spinner {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%) translateX(-10px);
  opacity: 0;
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.state-show-spinner .form__submit_spinner {
  transform: translateY(-50%) translateX(0);
  opacity: 1;
}

.state-show-spinner .form__submit_text {
  transform: translateX(10px);
  opacity: 0;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.spinner {
  display: block;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999px;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-left: 1px solid #ffffff;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

/* keyframes */

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

