.picture {
  width: 605px;
  height: 454px;
  background-image: url('../../images/picture.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 770px) {
  .picture {
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .picture {
    width: 100%;
    max-width: 388px;
    height: 240px;
    background-size: contain;
  }
}
